/MINND_TrainingDataGen_v1/build/
/MINND_TrainingDataGen_v1/dist/
/convert_mnist_data/build/
/convert_mnist_data/dist/
/MINND_TrainingDataGen_v1_cpp/build/
/MINND_TrainingDataGen_v1_cpp/dist/
/MINND_validate_v1/build/
/MINND_validate_v1/dist/
/MINND_TrainingDataGen_v1_OpenCV/build/
/MINND_TrainingDataGen_v1_OpenCV/dist/